.profile-t-shirt-name {
  position: absolute;
  top: 90px;
  color: #ffffffdd;
  font-weight: 800;
  font-size: 2.8rem;
  font-family: "Bebas Neue", cursive;
}

.profile-t-shirt-number {
  position: absolute;
  top: 130px;
  color: #ffffffdd;
  font-weight: 800;
  font-size: 12rem;
  font-family: "Bebas Neue", cursive;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}